.navbar{
    width:100%;
    height:5rem;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:0.5rem;
    background: linear-gradient(45deg,#a88bff, #f99dfb);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    position: relative;
    /* top:0; */
}

/* navbar logo */
.navbar-logo{
    font-size: 2rem;
    margin:1.5rem;
    font-weight:bold;
    font-family: 'Montserrat';
    flex:1;
}



/* searchbar */
.navbar-search{
    display: flex;
    gap:0.5rem;
    flex:1;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid #fb00ff;
    background-color: #fa8bfc;
    border-radius: 25px;
    width: 200px;
}
.navbar-search input{
    border: none;
    outline:none;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Montserrat';
    background-color: transparent;
    align-items: center;
}
.navbar-search button{
    color: #fb00ff; 
    border: 1px solid #fb06ff; 
    border-radius: 20px;
    font-size: 0.9rem;
    justify-content: end;
    background-color: white;
 }
 .navbar-search:hover{
   transition: transform 0.1s ease-in-out;
  transform: scale(1.05);
 }






 /* navbar links */
.navbar-links{
    
    list-style: none;
    display: flex;
    flex:1;
    gap: 0.5rem;
    justify-content: flex-end;
}
.navbar-links li a{
    
   
    padding:1rem;
    font-size: 1.05rem;
    font-family: 'Montserrat';
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
.navbar-links li a:hover{
    
    color: #5900ff;
    border: 1px solid #1900ff;
     border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
 }


